/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Contact Section
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/red-background.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #b1b1b1;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header logo */
.header-logo {
   width: 250px;
   height: 250px;
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: white; }
header .social li a:hover { color: red; }

.header-bio a:hover { color: red }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: white;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: white;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: red; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: rgb(0, 0, 0); }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
/* ul#nav li.current a { color: rgb(35, 123, 211); } */
ul#nav li.current a { color: #ff0000 }

.giphy-embed {
   position: relative;
   width: 250px;
   height: 250px;
}


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #222222;  
   background: -webkit-linear-gradient(to bottom, #000000, #003558); 
   background: linear-gradient(to bottom, #000000, #003558);
   /* background: #f7f715;  
   background: -webkit-linear-gradient(to bottom, #f7f715, #037a13); 
   background: linear-gradient(to bottom, #f7f715, #037a13);  */
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: rgb(0, 105, 224); }
#about a:hover, #about a:focus { color: white; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: white;
   /* color: black;  */
   margin-top: 20px;
}
#about h2 span {
   border-bottom: 4px solid #006cc5;
   /* border-bottom: 4px solid #ff0000; */
}

#about p {
   line-height: 25px;
   color: #e2dddd;
   /* color: #02243a;  */
   font-size: 17px;
}
#about .profile-pic {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 100%;
}

#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #313131;  
   background: -webkit-linear-gradient(to bottom, #003558, #313131); 
   background: linear-gradient(to bottom, #003558, #313131);

   /* background: #037a13; */
   /* background: -webkit-linear-gradient(to bottom, #037a13, #ff0000);   */
   /* background: linear-gradient(to bottom, #037a13, #ff0000); */

   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume h1 {
   font: 50px/56px 'librebaskerville-italic', Times, serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
   padding-bottom: 50px;
}

#resume h1 span {
   border-bottom: 3px solid #006cc5;
}

#resume p, h3, h5 {
   color: white;
}

#resume a, #resume a:visited  { color: white; }
#resume a:hover, #resume a:focus { color: #11ABB0; }
/* #resume a:hover, #resume a:focus { color: #000000; } */

#resume hr {
   border-top: 2px dashed white;
   margin: auto;
   padding-bottom: 25px;
}

#resume h2 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
}
#resume h2 span {
   border-bottom: 3px solid #006cc5;
   /* border-bottom: 3px solid #000000; */
   padding-bottom: 6px;
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work, .certificates {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}

.education li {
   font: 18px/24px Georgia, 'Times New Roman', Times, serif;
}

#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: white;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume h4 {
   font-family: 'monospace', sans-serif;
   color: white;
}
#resume .courses {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: white;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .courses span {
   margin-right: 5px;
   margin-left: 5px;
   color: #04c9fa;
   /* color: black;  */
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#resume .location {
   font: 15px/24px 'monospace', sans-serif;
   margin-top: 6px;
}

#resume .description {
   font: 18px/24px Georgia, 'Times New Roman', Times, serif;
   font-weight: 300;
   text-align: left;
}

#resume .flags {
   margin-top: 25px;
}

#resume .flags p {
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
   color: white;
}

#resume .language-flag {
   height: 150px;
   width: 150px;
   border-radius: 100%;
   margin-top: 15px;
   margin-bottom: 5px;
}

#resume .certificates .google-python {
   font: 18px/24px Georgia, 'Times New Roman', Times, serif;
   color: white;
   size: 15px;
}

#resume .certificates .google-python a {
   color: #11ABB0;
   /* color: red; */
}

#resume .certificates .google-python a:hover{
   color: black;
}
/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 50px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #ffffff;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #08b0da;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}
/* Soft Skills */

.communication {
   width: 90%;
   -moz-animation: communication 2s ease;
   -webkit-animation: communication 2s ease;
}
.problem-solving {
   width: 85%;
   -moz-animation: problem-solving 2s ease;
   -webkit-animation: problem-solving 2s ease;
}
.adaptability {
   width: 95%;
   -moz-animation: adaptability 2s ease;
   -webkit-animation: adaptability 2s ease;
}
.time-management {
   width: 90%;
   -moz-animation: time-management 2s ease;
   -webkit-animation: time-management 2s ease;
}
.teamwork {
   width: 90%;
   -moz-animation: teamwork 2s ease;
   -webkit-animation: teamwork 2s ease;
}
.quick-learning {
   width: 90%;
   -moz-animation: quick-learning 2s ease;
   -webkit-animation: quick-learning 2s ease;
}

@-moz-keyframes communication {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-moz-keyframes problem-solving {
0%   { width: 0px;  }
100% { width: 85%;  }
}
@-moz-keyframes adaptability {
0%   { width: 0px;  }
100% { width: 95%;  }
}
@-moz-keyframes time-management {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-moz-keyframes teamwork {
0%   { width: 0px;  }
100% { width: 90%;  }
}
@-moz-keyframes quick-learning {
   0%   { width: 0px;  }
   100% { width: 90%;  }
   }

@-webkit-keyframes communication {
   0%   { width: 0px;  }
   100% { width: 90%;  }
}
@-webkit-keyframes problem-solving {
   0%   { width: 0px;  }
   100% { width: 85%;  }
}
@-webkit-keyframes adaptability {
   0%   { width: 0px;  }
   100% { width: 95%;  }
}
@-webkit-keyframes time-management {
   0%   { width: 0px;  }
   100% { width: 90%;  }
}
@-webkit-keyframes teamwork {
   0%   { width: 0px;  }
   100% { width: 90%;  }
}
@-webkit-keyframes quick-learning {
   0%   { width: 0px;  }
   100% { width: 90%;  }
}

/* Programming Languages */
.cpp {
  	width: 75%;
  	-moz-animation: cpp 2s ease;
  	-webkit-animation: cpp 2s ease;
}
.swiftui {
  	width: 65%;
  	-moz-animation: swiftui 2s ease;
  	-webkit-animation: swiftui 2s ease;
}
.react {
  	width: 50%;
  	-moz-animation: react 2s ease;
  	-webkit-animation: react 2s ease;
}
.css {
  	width: 50%;
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	width: 75%;
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.python {
  	width: 80%;
  	-moz-animation: python 2s ease;
  	-webkit-animation: python 2s ease;
}

@-moz-keyframes cpp {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-moz-keyframes swiftui {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-moz-keyframes react {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-moz-keyframes python {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}

@-webkit-keyframes cpp {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-webkit-keyframes swiftui {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-webkit-keyframes react {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-webkit-keyframes python {
  0%   { width: 0px;  }
  100% { width:80%;  }
}

/* ------------------------------------------------------------------ */
/* e. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #313131;
   background: -webkit-linear-gradient(to bottom, #313131, #1a1717);  
   background: linear-gradient(to bottom, #313131, #1a1717); 
   /* background: #f7f715; 
   background: -webkit-linear-gradient(to bottom, #f7f715, #037a13, #FF0000);  
   background: linear-gradient(to bottom, #f7f715, #037a13, #FF0000); */
   padding-top: 10px;
   padding-bottom: 102px;
   color: white;
}
#contact .section-head { margin-bottom: 40px; }

#contact h1 {
   font: 50px/56px 'librebaskerville-italic', Times, serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
   /* color: black; */
   padding-bottom: 50px;
}

#contact h1 span {
   border-bottom: 3px solid #006cc5;
   /* border-bottom: 3px solid red; */
}

#contact a, #about a:visited  { color: rgb(0, 105, 224); }
/* #contact a, #about a:visited  { color: white; } */
#contact a:hover, #about a:focus { color: white; }

#contact h3 {
   font: 24px/30px 'librebaskerville-italic', Times, serif;
   color: #ffffff;
   /* color: black; */
   padding-bottom: 10px;
}
#contact h3 span {
   border-bottom: 3px solid #006cc5;
   border-bottom: 3px solid red;
   padding-bottom: 5px;
}

#contact p {
   color: white;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }

#contact .mail {
   color: white;
}

/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 20px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
   /* color: black; */
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
	color: #eee;
   /* color: black; */
	background: #ffffff;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #ff0000;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 20%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact .after-submit {
   font: 20px/40px 'Courier New', Courier, monospace;
}
#contact .after-submit p:hover {
   color: #037a13;
}
#contact span.required {
	color: #000000;
	font-size: 18px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #000000; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}

/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: white;
   background: #1a1717;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #1a1717, #0d0d0d);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #1a1717, #0d0d0d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #7a7878; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: white;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: red;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { 
   background-color: black;
   color: white; 
}

